.container {
    align-items: center;
    background-color: transparentize($black, $amount: 0.3);
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}