<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
</head>

<body>
<div class="container">
    <a th:href="@{/profile}" class="topui__back" >
        <img th:src="@{/assets/icons/std-arrow-purple.svg}" alt="torna indietro">
    </a>
        <form th:each="allergiaprofilo:${allergieprofilo}" method="post" action="/profile/allergie/remove">
            <span th:text="${allergiaprofilo.getNome()}"></span>
            <input type="hidden" th:value="${allergiaprofilo.getId()}" name="allergiaId">
            <button class="simpleButton" type="submit">X</button>
        </form>
    <form action="/profile/allergie/add" method="POST">
        <div th:each="allergia:${allergie}">
            <label th:for="'allergia'+${allergia.getId()}" th:text="${allergia.getNome()}"></label>
            <input th:id="'allergia'+${allergia.getId()}" type="checkbox" th:value="${allergia.getId()}" name="allergiaId">
        </div>
        <input type="submit" value="aggiungi">
    </form>

</div>

</body>

</html>