<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/homepage.css">
    <title>Open delivery homepage</title>
</head>
<body>
    <div class="logo">
        <img src="" alt="" class="logo__image">
        <h1 class="logo__name">
            OPEN DELIVERY
        </h1>
    </div>
    <div class="container">
            <div class="categoriescontainer" th:unless="${#lists.isEmpty(categorie)}">
            <h5 class="categoriescontainer__title">Categorie</h5>
                <form th:each="categoria:${categorie}" method="get" action="/homepage/addFilter">
                    <button class="categoriescontainer__category" th:classappend="${filtri.contains(categoria.getId()) ? 'categoriescontainer__category-active':''}">
                        <input type="hidden" th:value="${categoria.getId()}" name="idCategoria">
                        <b th:text="${categoria.getNome()}"></b>
                    </button>
                </form>
            </div>    
        <content class="contentcontainer">
            <div class="nearyoucontainer" id="ristorantiConsigliati" >
                <div class="nearyoucontainer__titlecontainer">
                    <h5> ristoranti più vicini a te:</h5>
                    <a href="/homepage/altriristoranti" class="nearyoucontainer__titlecontainer__more">Vedi altro ></a>
                </div>
                <div class="nearyoucontainer__cards">
                    <th:block th:each="ristorante:${ristoranti}">
                        <div th:replace="fragments/restaurantcard :: restaurantcard(
                            id=${ristorante.getId()}, nome=${ristorante.getNome()}, priceRange=${ristorante.getPriceRange})"></div>
                    </th:block>
                </div>
                
                
            </div>
            <!-- sezione piatti -->
            <div class="nearyoucontainer" id="piattiConsigliati" >
                <div class="nearyoucontainer__titlecontainer">
                    <h5>Altro per te:</h5>
                </div>
                <div class="nearyoucontainer__cards">
                    <th:block th:each="consigliato:${consigliati}">
                        <div th:replace="fragments/platecard :: platecard(
                            id=${consigliato.getId()}, nome=${consigliato.getNome()}, descrizione=${consigliato.getDescrizione},
                            prezzo=${consigliato.getPrezzo()}, immagine=${consigliato.getImagePath()}
                        )"></div>
                    </th:block>
                </div>
            </div>
        </content>
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>
</div>
</body>
</html>