<!DOCTYPE html>
<html lang="en" xmlns:img="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/profile.css">
</head>
<body>
    <div class="container">
        <content class="profile">
            <div class="proile__top">

            </div>
            <div class="profile__about">
                <table>
                    <tr>
                        <td th:text="${utente.getNome()} + ' ' + ${utente.getCognome()}"></td>
                        <td th:text="${utente.getMail()}"></td>
                        <td>cambia password</td>
                        <td>vedi allergie</td>
                    </tr>
                </table>
            </div>
        </content>
    </div>
</body>
</html>