<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Ricerca</title>
</head>

<body>
    <div class="container">
        <form action="/search/query" method="get">
            <input type="text" name="q" id="q">
            <input type="submit" value="cerca">
        </form>
    </div>
    <div class="fullcard" th:each="ristorante:${ristoranti}">
        <img src="assets/images/pizza brutta.jpg" alt="">
        <h5 class="fullcard__title" th:text="${ristorante.getNome()}"></h5>
    </div>

    <div class="fullcard" th:each="prodotto:${prodotti}">
        <img src="assets/images/pizza brutta.jpg" alt="">
        <h5 class="fullcard__title" th:text="${prodotto.getNome()}"></h5>
        <span class="fullcard__subtitle" th:text="${prodotto.getDescrizione()}"></span>
        <span class="fullcard__price" th:text="${prodotto.getPrezzo()}"></span>
    </div>
</body>

</html>