<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Ricerca</title>
</head>

<body>
    <div class="container">
        <form action="/search/query" method="get">
            <input type="text" name="q" id="q">
            <input type="submit" value="cerca">
        </form>
    </div>
    <content class="results">
    <th:block th:each="ristorante:${ristoranti}">
        <div th:replace="fragments/restaurantcard :: restaurantcard(
                            id=${ristorante.getId()}, nome=${ristorante.getNome()}, priceRange=${ristorante.getPriceRange})"></div>
    </th:block>

    <th:block th:each="consigliato:${consigliati}">
        <div th:replace="fragments/platecard :: platecard(
                            id=${consigliato.getId()}, nome=${consigliato.getNome()}, descrizione=${consigliato.getDescrizione},
                            prezzo=${consigliato.getPrezzo()}, immagine=${consigliato.getImagePath()}
                        )"></div>
    </th:block>
    </content>
</body>

</html>