/OpenDelivery/target/classes/templates/chart.html
/OpenDelivery/target/classes/it/opendelivey/demo/handlers/FavoritesHandler.class
/OpenDelivery/target/classes/it/opendelivey/demo/handlers/Handler.class
/OpenDelivery/target/classes/it/opendelivey/demo/handlers/HomepageHandler.class
/OpenDelivery/target/classes/templates/index.html
/OpenDelivery/target/classes/it/opendelivey/demo/model/Indirizzo.class
/OpenDelivery/target/classes/it/opendelivey/demo/model/LoginForm.class
/OpenDelivery/target/classes/it/opendelivey/demo/model/Offerta.class
/OpenDelivery/target/classes/it/opendelivey/demo/model/Piatto.class
/OpenDelivery/target/classes/it/opendelivey/demo/handlers/ProfileHandler.class
/OpenDelivery/target/classes/it/opendelivey/demo/model/RegistrationForm.class
/OpenDelivery/target/classes/it/opendelivey/demo/model/Ristorante.class
/OpenDelivery/target/classes/it/opendelivey/demo/model/Utente.class
/OpenDelivery/src/main/resources/templates/vuetest.html
/OpenDelivery/target/classes/templates/vuetest.html
/OpenDelivery/target/*
