.notform{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    place-items: center;

    .simpleButton{
        max-width: 50%;
    }
}