html {
  color: #333333;
  font-size: 15px;
}
@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
html h1 {
  font-size: 3.5rem;
}
html h2 {
  font-size: 3rem;
}
html h3 {
  font-size: 2.5rem;
}
html h4 {
  font-size: 2rem;
}
html h5 {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}

.cart {
  grid-row: 1;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  overflow-y: scroll;
  place-items: center;
}
.cart__card {
  min-width: 50%;
  max-width: fit-content;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  border: solid rgba(51, 51, 51, 0.7) 1px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  max-height: 8rem;
}
.cart__card__desc {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: fit-content;
  text-align: center;
}
.cart__card__desc__name {
  font-weight: bold;
}
.cart__card__desc__d {
  color: #E5E5E5;
}
.cart__card__desc__price {
  color: #BF0DCE;
  float: bottom;
}
.cart__card__ui {
  grid-column: 3;
  position: relative;
  display: flex;
  min-width: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
.cart__card__ui__delete {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #C4C4C4;
  color: rgb(245, 245, 245);
  font-weight: bolder;
  transition-duration: 0.2s;
}
.cart__card__ui__delete:hover {
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.2s;
}
.cart__card__ui__amount {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.cart__card__ui__amount .icon {
  border: none;
  background-color: #BF0DCE;
  color: rgb(245, 245, 245);
}
.cart__card__ui__amount .icon:hover {
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.2s;
}

.uicontainer {
  grid-row: 2;
}

.body {
  overflow: hidden;
}

.buy {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-items: center;
}
.buy__addressform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart__card img {
  grid-row: 1;
  max-width: 4rem;
  max-height: 4rem;
  position: relative;
  place-self: center;
}

.buy button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.2s;
}