.titlecontainer {
    p {
        color: $white;
        font-weight: bold;
        padding: 0;
        margin: 10px;
    }
    h1 {
        color: $white;
        padding: 0;
        margin: 10px;
    }
}