.topui{
    position: relative;
    height: 5%;
    display: flex;
    min-width: 100%;
    display: inline-block;

    &__chart{
        float: right;
    }

    &__menu{
        float: left;
    }
}