<footer class="uicontainer" th:fragment="navbar">
  <a class="uielement" href="/homepage">
    <img src="assets/icons/menu.svg" alt="homepage" class="icon" id="homepage">
    <span></span>
  </a>
  <a class="uielement" href="/search">
    <img src="assets/icons/search.svg" alt="cerca" class="icon" id="search">
    <span></span>
  </a>
  <a class="uielement" href="/profile">
    <img src="assets/icons/user.svg" alt="profilo" class="icon" id="profile">
    <span></span>
  </a>
  <a href="/cart">
    <img src="assets/icons/chart.svg" class="icon topui__chart" id="cart" alt="carrello">
    <span></span>
  </a>
</footer>