$std_padding: 0.7rem;
$std_border_radius: 10px;
$small_padding: 0.3rem;
$small_med-padding: 0.5rem;
$body_sides_space: 10%;
$min_margin: 0.2rem;
$icon_size: 1.5rem;
$med_padding: 1rem;
$med_high_padding: 1.5rem;
