$normal_size: 15px;
$normal_phone_size: 12px;
$small_phone_size: 10px;


html{
    @media screen and (max-width: 400px) {
        font-size: $normal_phone_size;
    }
    font-size: $normal_size;

    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.5rem;
    }

    h4{
        font-size: 2rem;
    }

    h5{
        font-size: 1.5rem;
    }


}