@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');
.titlecontainer {
    p {
        color: whitesmoke;
        padding: 0;
        margin: 10px;
        font-family: "Urbanist";
    }
    h1 {
        color: whitesmoke;
        padding: 0;
        margin: 10px;
        font-family: "Urbanist";
    }
}