.titlecontainer{
    p{
        color: $dark_grey;
        padding: 0;
        margin: $min_margin;
    }
    h1{
        color: $black;
        padding: 0;
        margin: $min_margin;
    }
}