.cart{
    grid-row: 1;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
    place-items: center;

    &__card{
        min-width: 50%;
        max-width: fit-content;
        overflow: hidden;

        display: grid;
        grid-template-columns: auto auto auto;

        border: solid transparentize($black, 0.3) 1px;
        background-color: $white;
        border-radius: $std_border_radius;
        max-height: 8rem;

        &__desc{
            grid-column: 2;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            min-width: fit-content;
            text-align: center;

            &__name{
                font-weight: bold;                
            }

            &__d{
                color: $normal_grey;
            }

            &__price{
                color: $purple;
                float: bottom;
            }
        }

        &__ui{
            grid-column: 3;
            position: relative;
            display: flex;
            min-width: fit-content;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-right: 1rem;

            &__delete{
                position: absolute;
                top: 0;
                right: 0;

                border: none;
                background-color: $dark_grey;
                color: $white;
                font-weight: bolder;
                transition-duration: 0.2s;

                &:hover{
                    cursor:pointer;
                    opacity: 0.5;
                    transition-duration: 0.2s;
                }
            }

            &__amount{
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;

                .icon{
                    border: none;
                    background-color: $purple;
                    color: $white;

                    &:hover{
                        cursor:pointer;
                        opacity: 0.5;
                        transition-duration: 0.2s;
                    }
                }
            }
        }
    }
}