.titlecontainer {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: fit-content;
    min-width: min-content;
}