.simpleForm{
    a{
        text-align: right;
        color: $black;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            transition: 3s ;
        }
    }

    input{
        border: solid $purple 1px;
    }
}