.titlecontainer {
    p {
        color: whitesmoke;
        padding: 0;
        margin: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    h1 {
        color: whitesmoke;
        padding: 0;
        margin: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
}