@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');
.simpleButton {
    margin: 0;
    padding: $std_padding;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: $purple;
    color: $white;
    border-radius: $std_border_radius;
    border: none;
    transition: 0.2s ease-out;
    font-family: "Urbanist";
    &:hover {
        color: $normal_grey;
        cursor: pointer;
        background-color: lighten($purple, 10);
        transition: 0.2s ease-out;
    }
}