.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-width: 100%;
  min-height: 100%;
  grid-row: 2;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
}