<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div class="container">
    <table>
        <form th:each="allergiaprofilo:${allergieprofilo}" action="/allergieprofilo/delete">
            <span th:text="${allergiaprofilo.getNome()}"></span>
            <input type="hidden" th:value="${allergieprofilo.getId()}" name="idAllergia">
            <button class="simpleButton" type="submit">X</button>
        </form>
    </table>
    <form action="/allergieprofilo" method="POST">

        <input th:each="allergia:${allergie}" th:label="${allergia.getNome()}" type="checkbox" th:value="${allergia.getId()}">
        <input type="submit" value="aggiungi">
    </form>

</div>

</body>

</html>