<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/cart.css">
</head>
<body th:with="cartEmpty = ${#lists.isEmpty(carrello)}">
    <div class="container">
        <div class="topui">
            <a href="/homepage" class="topui__back" >
                <img src="assets/icons/std-arrow-purple.svg" alt="torna indietro">
            </a>

            <h4>CARRELLO</h4>
        </div>
        <content class="cart" >
            <form class="cart__card" th:unless="${cartEmpty}" th:each="record:${carrello}" method="POST" action="/cart/delete">
                    <span th:text="${record.getProdotto().getNome()}"></span>
                    <span th:text="${record.getProdotto().getDescrizione()}"></span>
                    <span th:text="${record.getProdotto().getPrezzo()}"></span>
                    <input type="hidden" th:value="${record.getId()}" name="recordId">
                    <button class="icon" formaction="/cart/remove">-</button>
                    <span th:text="${record.getAmount()}"></span>
                    <button class="icon" formaction="/cart/add">+</button>
                    <button class="icon">X</button>
            </form>
        </content>

            <div th:if="${cartEmpty}" th:replace="fragments/emptyCart :: emptyCart"></div>

        <div class="buy" th:unless="${cartEmpty}"> <!--method="post" action="/cart"-->
            <label for="indirizzo"> Indirizzo di spedizione </label>
            <select id="indirizzo" name="indirizzo" size="1">
                <option th:each="indirizzo:${indirizziUtente}" th:text="${indirizzo.getIndirizzo()}+' '+${indirizzo.getCivico()}"></option>
                <option>
                    <button action="">aggiungi indirizzo...</button>
                </option>
            </select>
            <form method="POST" action="/cart/newAddress" >
                <input class="" type="text" placeholder="indirizzo" name="indirizzo" required>
                <input class="simpleForm__addresscontainer__number" type="text" placeholder="N° civico" name="civico" required>
                <input class="" type="text" placeholder="CAP" name="cap" required>
                <input class="" type="text" placeholder="città" name="città" required>
                <button type="submit">aggiungi</button>
            </form>
                <div class="buy__description">
            </div>
            <span class="buy__price"></span>
            <button class="simpleButton"> PAY </button>
        </div>
    </div>
</body>
</html>