<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/piatto.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Open delivery plate</title>
</head>
<body>
    <div class="logo">
        <img src="" alt="" class="logo__image">
        <h1 class="logo__name">
            OPEN DELIVERY
        </h1>
    </div>
<div class="container">
    <a href="/homepage" class="topui__back" >
        <img src="assets/icons/std-arrow-purple.svg" alt="torna indietro">
    </a>
    <h1 th:text="${prodotto.getNome()}"></h1>
    <div class="fullcard">
        <img src="assets/images/pizzeria.jpg">
        <a th:text="${prodotto.getDescrizione()}"></a>
    </div>
    <content class="contentcontainer">
        <div class="nearyoucontainer" id="piattiConsigliati" >
            <div class="nearyoucontainer__titlecontainer">
                <h5>Allergeni</h5>
                <span th:each="allergene:${allergeni}" th:text="${allergene.getNome()}"></span>
            </div>
        </div>
        <form method="post" action="piatto/add">
            <input type="hidden" th:value="${prodotto.getId()}" name="id">
            <!-- bottoni + e - con javascript? -->
            <!--button class="simpleButton">+</button-->
            <input type="number" value="1" name="q">
            <!--button class="simpleButton">-</button-->
            <button type="submit" >Aggiungi al carrello</button>
        </form>
    </content>

    <div th:replace="fragments/navbar :: navbar"></div>
</div>
</body>
</html>