<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/profile.css">
</head>
<body>
    <div class="container">
        <content class="profile">
            <div class="proile__top">

            </div>
            <div class="profile__about">
                <table>
                    <tr>
                        <td th:text="${utente.getNome()} + ' ' + ${utente.getCognome()}"></td>
                    </tr>
                    <tr>
                        <td th:text="${utente.getMail()}"></td>
                    </tr>
                    <tr th:unless="${#lists.isEmpty(indirizzi)}" th:each="indirizzo:${indirizzi}">
                        <td th:text="${indirizzo.getIndirizzo()} + ${indirizzo.getCivico()} + ${indirizzo.getCap()} + ${indirizzo.getCitta()}" ></td>
                    </tr>
                    <tr>
                        <td><a th:text="'vedi allergie'" href="profile/allergie"></a></td>
                    </tr>
                    <tr>
                        <td><a th:text="'cambia password'" href="/profile/changepassword"></a></td>
                    </tr>
                </table>

            </div>
        </content>
    </div>
</body>
</html>