<!DOCTYPE html>
<html lang="it" xmlns:img="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrati</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/registrazione.css">
</head>
<body>
    <div class="container">
        <div class="titlecontainer">
            <h1>REGISTRATI</h1>
            <p>Inserisci i dati richiesti per completare la registrazione</p>
        </div>
        <form action="/registrazione" class="simpleForm" method="post">
            <input class="simpleForm__textbar" type="text" th:name="nome" id="nome" placeholder="nome" required>
            <input class="simpleForm__textbar" type="text" name="cognome" id="cognome" placeholder="cognome" required>
            <input class="simpleForm__textbar" type="email" name="email" id="email" placeholder="email" required>
            <div class="simpleForm__addresscontainer">
                <input class="" type="text" placeholder="indirizzo" name="via" required>
                <input class="" type="number" placeholder="CAP" name="cap" required>
                <input class="simpleForm__addresscontainer__number" type="text" placeholder="N° civico" name="civico" required>
            </div>
            <input type="password" name="password" id="password" class="simpleForm__textbar" placeholder="password" required>
            <input type="password" name="conferma_password" id="conferma_password" class="simpleForm__textbar" placeholder="Conferma passoword" required>
            <input type="submit" value="Registrati" class="simpleButton">
        </form>
        <div class="notform" id="notform">
                    <p>Sei già registrato?<br>effettua il login </p>
                    <a href="login"><button class="simpleButton">Login</button></a>
                </div>
    </div>

</body>
</html>