<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Open delivery resturant</title>
</head>
<body>
<div class="container">
    <h1 th:text="${ristorante.getNome()}"></h1>
    <div class="fullcard">
        <img src="assets/images/pizzeria.jpg">
        <span th:text="${ristorante.getIndirizzo().getCitta()} + ' ' + ${ristorante.getIndirizzo().getCap()} + ', '+${ristorante.getIndirizzo.getIndirizzo()} + ' ' +${ristorante.getIndirizzo().getCivico()}"></span>
        <span th:text="${ristorante.getNumero()}"></span>
    </div>
    <content class="contentcontainer">
        <div class="nearyoucontainer" id="piattiConsigliati" >
            <div class="nearyoucontainer__titlecontainer">
                <h5>Menù:</h5>
            </div>
            <div class="nearyoucontainer__cards">
                <th:block th:each="prodotto:${menu}">
                    <div th:replace="fragments/platecard :: platecard(
                            id=${prodotto.getId()}, nome=${prodotto.getNome()}, descrizione=${prodotto.getDescrizione},
                            prezzo=${prodotto.getPrezzo()}, immagine=${prodotto.getImagePath()}
                        )"></div>
                </th:block>
            </div>
        </div>
    </content>

<div th:replace="fragments/navbar :: navbar"></div>
</div>
</body>
</html>