<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/ricerca.css}">
    <title>Ricerca</title>
</head>

<body>    
    <div class="container">
        <div class="topui">
            <a href="/homepage" class="topui__back" >
                <img th:src="@{/assets/icons/std-arrow-purple.svg}" alt="torna indietro">
            </a>

            <h4>CARRELLO</h4>
        </div>
        <form action="/search/query" method="get" class="searchbar">
            <input type="text" name="q" id="q">
            <input type="submit" value="cerca">
        </form>
    <content class="results">
    <th:block th:each="ristorante:${ristoranti}">
        <div th:replace="fragments/restaurantcard :: restaurantcard(
                            id=${ristorante.getId()}, nome=${ristorante.getNome()}, priceRange=${ristorante.getPriceRange})"></div>
    </th:block>

    <th:block th:each="prodotto:${prodotti}">
        <div th:replace="fragments/platecard :: platecard(
                            id=${prodotto.getId()}, nome=${prodotto.getNome()}, descrizione=${prodotto.getDescrizione},
                            prezzo=${prodotto.getPrezzo()}, immagine=${prodotto.getImagePath()}
                        )"></div>
    </th:block>
    </content>
    </div>
</body>

</html>