html {
  color: #333333;
  font-size: 15px;
}
@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
html h1 {
  font-size: 3.5rem;
}
html h2 {
  font-size: 3rem;
}
html h3 {
  font-size: 2.5rem;
}
html h4 {
  font-size: 2rem;
}
html h5 {
  font-size: 1.5rem;
}

.topui {
  position: relative;
  height: 5%;
  display: flex;
  min-width: 100%;
  display: inline-block;
}
.topui__chart {
  float: right;
}
.topui__menu {
  float: left;
}

.container {
  top: 5%;
}

.carouselcontainer {
  display: flex;
  flex-direction: column;
}
.carouselcontainer__carousel {
  position: relative;
}
.carouselcontainer__carousel__card {
  box-sizing: border-box;
  min-height: 8rem;
  min-width: 100%;
  padding: 1.5rem;
  background-color: #BF0DCE;
  border-radius: 16px;
  color: #EEE;
}
.carouselcontainer__allergies {
  display: flex;
  flex-direction: column;
}

.carouselcontainer__allergies p {
  text-align: center;
}