.fullcard{
    background-color: #ffff;
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;
    font-style: none;
    height: 15rem;
    width: 15rem;
    min-width: fit-content;
    max-height: 15rem;
    margin-bottom: 1rem;
    color: $black;
    filter:drop-shadow(0.80rem 0.80rem 0.2rem $dark_grey);
    
    
    margin-top: 2rem;


    &__title{
        text-decoration: none;
    font-style: none;
    }

    &__subtitle{
        color: $dark_grey;
        text-decoration: none;
        font-style: none;
    }

    &__price{
        text-align: left;
        display: inline;
        font-size: 1.5rem;
        text-align: center;
    }
}