@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: $body_sides_space auto $body_sides_space;
    grid-template-rows: auto;
    min-height: 100vh;
    font-family: "Urbanist";
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dark_purple;
        border-radius: 3px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: transparentize($purple, 0.3);
    }
}