.simpleButton{
    margin: 0;
    padding: $std_padding;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: $purple;
    color: $white;
    border-radius: $std_border_radius;
    border: none;
    transition: 0.2s ease-out;
    &:hover{
        color: $normal_grey;
        cursor: pointer;
        background-color: lighten($purple, 10);
        transition: 0.2s ease-out;
    }
}