.iconcontainer{
    background-color: $light_grey;
    padding: $small_med_padding;
    border-radius: $std_border_radius;
    display: flex;
    align-items: center;
    max-height: min-content;
    max-width: min-content;
}